<IfModule mod_ssl.c>
    <VirtualHost *:443>

      ServerName {{ ansible_fqdn }}
      ProxyPreserveHost on
      
      Include /etc/apache2/conf.d/monitoring/*.conf

      SSLEngine on                                                                                                                                                                   
      SSLCertificateFile    /etc/letsencrypt/live/{{ ansible_fqdn }}/cert.pem                                                                                                           
      SSLCertificateKeyFile /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem                                                                                                        
      SSLCertificateChainFile /etc/letsencrypt/live/{{ ansible_fqdn }}/chain.pem                                                                                                        
      
    </VirtualHost>
</IfModule>
