<?php
/*
 * Dokuwiki's Protected Configuration File - Local Settings
 * {{ ansible_generated }}
 */

/* general */

$conf['lang'] = 'en';
$conf['license'] = 'publicdomain';
$conf['useacl'] = 1;

/* auth */
$conf['superuser'] = '@admin';
$conf['authtype'] = 'authplain';

/* security */
$conf['phpok'] = 0;
$conf['htmlok'] = 0;